.nav{
    background-color: #27394e;
    height: 50px;
    padding: 5px;
    border: 15px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.header{
    background-color: #f0763a;
    border: 15px solid black;
    border-top: 5px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.main{
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}
.seccion {
    background-color: #44465e;
    border: 15px solid black;
    height: 120px;
    width: 70%;
    border: 15px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.aside{
    background-color: #f94c47;
    padding: 5px;
    width: 25%;
    height: 120px;
    border: 15px solid black;
    height: auto;
    
    
}
.footer{
    clear: both;
    padding: 5px;
    background-color: #E4A434;
    height: 15px;
    border: 15px solid black;
    
}
#box-1{
    background-color: #ea584b;
    height: 25px;
    width: 15%;
}
#box-2{
    background-color: #ea584b;
    height: 25px;
    width: 50%;
}
#box-3{
    background-color: #ea584b;
    height: 25px;
    width: 15%;    
}
#box-4{
    background-color: #ffcc5e;
    height: 25px;
    width: 95%;
}
#art-1{
    background-color: #1664a4;
    margin: 10px;
    height: 15px;
    width: 45%;
  

}
#art-2{
    background-color: #1664a4;
    margin: 10px;
    height: 15px;
    width: 45%;
  
    
}
#art-3{
    background-color: #1664a4;
    margin: 10px;
    height: 15px;
    width: 45%;
    
}
#art-4{
    background-color: #1664a4;
    margin: 10px;
    height: 15px;
    width: 45%;
    
}
#art-5{
    background-color: #6399bb;
    margin: 10px;
    height: 15px;
    width: 93%;
    
}
#asid-1{
    background-color: #ffe380;
    height: 15px;
    width: 90%;
    margin: 10px;

}
#asid-2{
    background-color: #ffe380;
    height: 15px;
    width: 90%;
    margin: 10px;

}
