.nav{
    background-color: #27394E;
    
    height: 100px;
    border: 15px solid black;
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#box1{
    background-color: #EA584B;
    height: 50px;
    width: 15%;

}
#box2{
    background-color: #EA584B;
    height: 50px;
    width: 55%;

}
#box3{
    background-color: #EA584B;
    height: 50px;
    width: 15%;

}
.header{
    background: #F0763A;
    border: 15px solid black;
    border-top: 2px;
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
#box4{
    background-color: #FFCC5E;
    height: 50px;
    width: 95%;

}
#main{
   
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}
#seccion{
    background-color: #44465E;
    border: 15px solid black;
    margin-right: 10px;
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  

}
.articulo1{
    background-color: #1664A4;
    height: auto;
    width: 46%;
    margin: 15px;
    float: left ;

}
.articulo2{
    background-color: #1664A4;
    height: auto;
    width: 46%;
    margin: 15px;
    float:right;

}

.articulo3{
    background-color: #6399BB;
    height: auto;
    width: 100%;
    margin: 15px;
    

}
#aside{
    background-color: blanchedalmond;
    border: 15px solid black;
    width: 30%;
    height: auto;
}
.asidetex{
    background-color: #6399BB;
    height: 25%;
    width: 90%;
    margin: 15px;
    

}
#footer{
    clear: both;
   
    height: 100px;
    border: 15px solid black;
    background-color: #E4A434;
}
